<tr>
	<td class="comment">
	<span class="content"><%= comment.content %></span><br>
	<span class="timestamp text-secondary"> Posted <%= time_ago_in_words(comment.created_at) %> ago. </span>
	</td> 
</tr>