<div class="hero container py-5 text-white">
    <h1><%= @title %></h1>
    <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
    <div class="row">
        <div class="col-lg-8">
            <p class="font-serif lead mb-4 text-secondary"><%= @subtitle %></p>
        </div>
    </div>
</div>