<footer class="bg-primary text-dark text-center">
    <div class="container py-6">
        <h2 class="font-sans-serif">Want to talk more?</h2>
        <p class="lead">Let's grab coffee</p>
        <a href="#" class="btn btn-outline-dark">Contact me</a>
    </div>
</footer>