<footer class="bg-primary text-dark text-center">
    <div class="container py-6 ">
        <h2 class="text-white">Want to talk more?</h2>
        <p class="lead">Let's grab coffee</p>
        <%= link_to 'Contact me', contact_path, {:class => "btn btn-outline-dark"} %>
    </div>
</footer>