<footer class="bg-primary text-dark text-center">
    <div class="container py-6">
        <h2 class="font-sans-serif">Need a developer?</h2>
        <p class="lead">Would love some work</p>
        <a href="#" class="btn btn-outline-dark">Contact me</a>
    </div>
</footer>