<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600" rel="stylesheet">
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- CSS -->
    <%= stylesheet_link_tag "pages" %>
</head>

<body>
    <%= render "navbar" %>

    <main id="content">
    	<!-- Banner -->
	    <%= render "banner" %>


        <div class="bg-white text-black">
            <div class="container py-2">
                <div class="bg-white px-3 px-lg-0 shift-up">
                    <div class="row justify-content-center py-4 py-lg-5">
                        <div class="col-md-10 col-lg-8">
                           <p>My ultimate dream is to help cultivate the innovation ecosystem back home. But it's beyond innovation, it's perspective, hope, opportunity, equality, meritocracy, and more. I'm working it out, but I hope to get there someday.</p>

                            <h2 class="mt-4">My Values</h2>
                            <strong>Curiosity</strong>
                            <p>Everything has layers of stories: how it's come to be, why it is this way, what implications it has, etc. We just have to widen the peripheries of our attention. I'm addicted to the newness and surprise of discovery. It makes me happy.</p>

                            <strong>Compassion</strong>
                            <p>Our environment shapes us more that we realize: our experiences, knowledge, upbringing, etc. From everybody's perspective, they're just doing what they think is most right. It just takes some persistence, imagination, and patience to see the world through somebody else's truth.</p>

                            <strong>Strategy</strong>
                            <p>I've made enough mistakes that I've stumbled into this. I've realized that everyone has dreams, and everyone has opportunities (though not necessarily equal). But the name of the game is efficiency. Asymptotically, rate matters more than position. It's the only way for me to do what I want to do.</p>

                            <strong>Drive</strong>
                            <p>I have things that I care about and I know I can weather a bit of discomfort. Things that make it less about me, and about what I can make. I've also been blessed with inspiring and supportive friends. The try and fall short and keep going. So I do the same.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%= render "footer" %>
</body>
</html>
