<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600" rel="stylesheet">
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- CSS -->
    <%= stylesheet_link_tag "pages" %>
</head>

<body>
    <%= render "navbar" %>

    <main id="content">
    	<!-- Banner -->
	    <%= render "banner" %>


        <div class="bg-white text-black">
            <div class="container py-2">
                <div class="bg-white px-3 px-lg-0 shift-up">
                    <div class="row justify-content-center py-4 py-lg-5">
                        <div class="col-md-10 col-lg-8">
                           <p>Hi there! I break things apart and putting them back together. I love thinking about systems and processes, both human and computational, and try to incorporate that into what I build.</p>

                            <h2 class="mt-4">My Values</h2>

                            <strong>Digging Deeper</strong>
                            <p>There are levels of understanding to every skill, concept, or problem. I believe that understanding the fundamentals allows you to better understand the mechanics of what is happening and build on that in more novel ways. You could create the backend of an app by thinking of the functions that different models have and what they depend on, but you might come up with a more elegant design if you think about how the information itself flows through an app. Or you might be able to recognize duplicate optimal substructure properties in how you create your schedule and be able to memoize it (routines!).</p>

                            <strong>Prgamatic Emotion</strong>
                            <p>I am both a pragmatic and emotional person. For myself, I find that like all pieces of information, incorporating emotion can only be beneifical given that you have the right decision making model (which should include accounting for uncertainty and outliers). I've found that many times emotions have served me as potent summary statistics or leading indicators. For others, I find that emotions can be crucial information that can give hints towards the mental model that they come from or the inputs that created it. </p>

                            <strong>Systems and Processes</strong>
                            <p>Nothing exists within a vacuum. Whenever you are trying to change, add, or remove something, you’re doing it within a system. Thus, you can make much better predictions/ decisions when you consider not only how your piece changes, but also how it changes all the pieces that are connected to it and the system as a whole. Just like how the addition of Whatsapp as a product can have different results in Hong Kong and India, nothing exists in a vacuum and impacts always come out of how your action affects the interactions in the system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%= render "footer" %>
</body>
</html>
