<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	    <meta charset="utf=8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Michelle</title>
	  </head>
	<body>
		<div class="container-fluid">
			<div id="banner" class="row">
				<!-- Name/ Logo -->
				<div id="name" class="col-md-4 offset-md-4 text-center">
					<h1>Michelle</h1>
					<h2>Portfolio</h2>
				</div>
			</div>
		</div>

		<!-- NAV -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">I'm looking for...</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Highlights <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Web Dev</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Datascience</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Analysis
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Finance</a>
		          <a class="dropdown-item" href="#">Marketing</a>
		          <!-- <div class="dropdown-divider"></div> -->
		          <a class="dropdown-item" href="#">Networks</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">About</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>

		<!-- PROJECT BOARD -->
		<div class="container">
			<div id="project-board" class="row">
				
				<div class="col-md-4" align="center">
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <h6 class="card-subtitle mb-2">Card subtitle</h6>
					    <div class="placeholder"></div>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <button type="button" class="btn highlight"><a href="#" class="card-link">link</a></button>
					  </div>
					</div>
				</div>

				<div class="col-md-4" align="center">
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <h6 class="card-subtitle mb-2">Card subtitle</h6>
					    <div class="placeholder"></div>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <button type="button" class="btn highlight"><a href="#" class="card-link">link</a></button>
					  </div>
					</div>
				</div>

				<div class="col-md-4" align="center">
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <h6 class="card-subtitle mb-2">Card subtitle</h6>
					    <div class="placeholder"></div>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <button type="button" class="btn highlight"><a href="#" class="card-link">link</a></button>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>