<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	    <meta charset="utf=8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Michelle</title>

	    <!-- Goole fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600" rel="stylesheet">
	    <!-- Material icons -->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	    <!-- CSS -->
	    <%= stylesheet_link_tag "pages" %>
	</head>

	<body>

		<%= render "navbar" %>

        <main id="content">
        	<!-- Banner -->
		    <div class="hero container py-5 text-white">
	            <h1>Let's build something</h1>
	            <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
	            <div class="row">
	                <div class="col-lg-8">
	                    <p class="font-serif lead mb-4 text-secondary">Hi! I love effective and simple solutions</p>
	                </div>
	            </div>
	            <div class='wrapper-center'>
	            	<%= link_to 'Check out my work', projects_path, {:class => "btn btn-primary"} %>
		        </div>
	        </div>

	        <!-- Projects -->
	        <div class="project-board container-fluid bg-white text-black py-4">
	        	<div class="container">
		            <ul class="row list-unstyled">
		                <li class="col-md-6 mb-4">
		                    <a href="projects">
		                        <figure class="img-overlay">
			                        <div class='project-img'>
			                        </div>
		                            <div class="img-hover">
		                                <span class="img-text">View Page</span>
		                            </div>
		                        </figure>
		                        <div class="h5 text-center">All Projects</div>
		                    </a>
		                </li>

		                <li class="col-md-6 mb-4">
		                    <a href="#">
		                        <figure class="img-overlay">
		                            <div class='project-img'>
			                        </div>
		                            <div class="img-hover">
		                                <span class="img-text">Coming Soon!</span>
		                            </div>
		                        </figure>
		                        <div class="h5 text-center text-secondary">Web Dev</div>
		                    </a>
		                </li>

		                <li class="col-md-6 mb-4">
		                    <a href="#">
		                        <figure class="img-overlay">
		                            <div class='project-img'>
			                        </div>
		                            <div class="img-hover">
		                                <span class="img-text">Coming Soon!</span>
		                            </div>
		                        </figure>
		                        <div class="h5 text-center text-secondary">Datascience</div>
		                    </a>
		                </li>

		                <li class="col-md-6 mb-4">
		                    <a href="#">
		                        <figure class="img-overlay">
		                            <div class='project-img'>
			                        </div>
		                            <div class="img-hover">
		                                <span class="img-text">Coming Soon!</span>
		                            </div>
		                        </figure>
		                        <div class="h5 text-center text-secondary">Analysis</div>
		                    </a>
		                </li>
		            </ul>
		            <div class="text-center my-5">
		                <a href="projects" class="btn btn-outline-dark">View all projects</a>
		            </div>
		        </div>
	        </div>
        </main>

    <!-- Footer -->
    <%= render "footer" %>
	</body>
</html>