// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//____GENERAL ELEMS____
$break-large: 700px;

body, .dropdown-menu {
	background-color: #0e0e0e;
}


.bg-primary {
	background-color: #7289da !important;
}

.btn {
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn-outline-light {
	color: #fff;
	border-color: #fff;
}

.btn-outline-dark {
	color: #000;
	border-color: #000;
}

.wrapper-center {
    text-align: center;
    @media screen and (min-width: $break-large) {
    	text-align: left;
    }
}

.btn-primary:hover {
	text-decoration: None;
	background-color: black;
	border-color: #7289da;
}

a .h5 {
	color: #000;
	font-weight: 600;
	&:hover {
		color: #555;
	}
}

//____FLOAT____
.floating {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    position: absolute;
    fill: #6c757d;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    40%  { transform: translate(0, -4px); }

}


//____NAVBAR____

.hero h1 {
	padding-top: 10%;
	font-size: 3rem;
	 @media screen and (min-width: $break-large) {
	    font-size: 5.5rem;
	}
}

header {
	background-color: #0e0e0e;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active,.navbar-dark .nav-link{
	background-color: #0e0e0e;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	&:hover {
		background-color: #7289da;
	}
	&.disabled {
	  color: #444;
	  pointer-events: none;
	}
}


//____FOOTER_____
footer {
	padding: 5% 0;
}

.lead {
	margin: 1.2rem 0 1.2rem 0;
}

//____PROJECTS____

#project-board {
	margin-top: 10%;
}

.btn-primary {
	background-color: #7289da;
	border-color: #7289da;
	color: #000;

}

//____HOME: PROJECT BOARD____

.img-overlay {
	position: relative;
}

.project-img {
	width: 100%;
	height: 254px;
	background-image: url("https://via.placeholder.com/150");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 1rem;
}

.img-hover {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	&:hover {
		opacity: 1;
	}
	border-radius: 1rem;
}

.img-overlay img {
	border-radius: 1rem;
	border: 2px solid #777;
}

.img-text {
	color: #fff;
	font-size: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	&:hover {
		opacity: 1;
	}
}

.shift-up {
	margin-top: -3.5rem;
}

//____Floating Landing____
.floating {
	right:10vw;
	bottom:-10vw;
}

//__CUBES__
#cube1 {
@media screen and (max-width: $break-large) {
    	display: none;
    }
@media screen and (max-width: 990) {
    	top: 300px;
		left: 75%;
    }
	top: 260px;
	left: 80%;
}
